<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{charity.charityname}}</h1>
        <p>{{charity.charitymission}}</p>

        {{#each charity.donations}}
            {{> donations}}
        {{/each}}

        <hr> {{> comment-form}}

        <!-- Show Comments -->
        {{#each comments}}
            {{> comment}}
        {{/each}}

    </div>
</div>
