<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{charity.charityname}}</h1>
        <p>{{charity.charitymission}}</p>
        <p>
            <form method="POST" action='/charities/{{comment._id}}?_method=DELETE'>
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        </p>

        {{#each charity}}
            {{> donations}}
        {{/each}}

        <hr> {{> comment-form}}

        <!-- Show Comments -->
        {{#each comments}}
            {{> comment}}
        {{/each}}

    </div>
</div>
