<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        {{>charity-card}}

        {{#each charity.donations}}
            {{> donations}}
        {{/each}}

        <hr> {{> comment-form}}

        <!-- Show Comments -->
        {{#each comments}}
            {{> comment}}
        {{/each}}

    </div>
</div>
